{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="background-color:#c0edfe; margin-top: 130px; ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style="margin-left: 100px; margin-right: 700px">
                <legend class="border-bottom mb-4" >Войти</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" style="margin-left: 100px">
                <button class="btn btn-outline-info" type="submit">Войти</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3" style="margin-left: 100px">
            <small class="text-muted">
                Нет аккаунта? <a class="ml-2" href="{% url 'register' %}">Зарегистрироваться</a>
            </small>
        </div>
    </div>
{% endblock content %}